@import '../../variables.css';

.button {
  color: var(--green);
  border: 2px solid var(--green);
  margin: 10px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: var(--font-replica-bold);
  transition: all 1s ease;
}

.button:hover {
  cursor: pointer;
  background-color: var(--green);
  color: var(--black);
}

