@import '../../variables.css';

.module {
  align-self: stretch;
  flex: 0 1;
  background: #0E0E0E;
}

.grid {
  display: flex;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 30px;
  /*background: url('../../../public/images/marquee.png') no-repeat scroll left top;
  background-size: cover;*/
  /*background-image: url('../../../public/images/marquee.png');
  background-color: #252525;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;*/
}

.gridLeft {
  background-color: purple;
  height: 100vh;
  display: flex;
  flex: 1;
}
.gridRight {
  height: 100vh;
  display: flex;
  flex: 1;
  background-color: red;
}

.backgroundImage {
  display: flex;
  flex: 1;
  max-width: 200%;
  max-height: 200%;
  width: auto;
  height: auto;
  margin-left: -100%;
}

.gridText {
  margin-left: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

.title {
  font-family: var(--font-replica-light);
  font-weight: 100;
  line-height: 75px;
  font-size: 72px;
  letter-spacing: 1.44px;
  margin: 0;
}

.subtitle {
  font-family: var(--font-replica-light);
  font-weight: 100;
  line-height: 26px;
  font-size: 18px;
  letter-spacing: 0.36px;
  margin: 20px 0;
}

.borderLink {
  font-family: var(--font-replica-light);
  line-height: 20px;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #00F9B8;
  border: 3px solid #00F9B8;
  padding: 5px;

}
