@import '../../variables.css';

/******************/
/* Header Section */
/******************/

.leftHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.logoHeader {
  display: flex;
  height: 60px;
  width: 60px;
  background-color: #8F00FF;
  align-items: center;
  justify-content: center;
}

.button {
  color: var(--green);
  border: 2px solid var(--green);
  margin: 10px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: var(--font-replica);
  transition: color 1s ease, background-color 1s ease;
}

.button:hover {
  cursor: pointer;
  background-color: var(--green);
  color: var(--black);
}

/****************/
/* Grid Section */
/****************/

.moduleGrid {
  align-self: stretch;
  flex: 0 1;
  flex-direction: column;
  background: linear-gradient(180deg, #0E0E0E 0%, #252525 100%);
  padding: 10px;
}

.gridGrid {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  background: #7400CF url('../../../public/images/marquee.png');
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 100vh;
}

.gridTextGrid {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  margin-left: 20px;
}

.titleGrid {
  font-family: var(--font-replica-light);
  font-weight: 100;
  font-size: 42px;
  letter-spacing: 0.84px;
  color: #FFFFFF;
  margin: 20px 0;
}

.subtitleGrid {
  font-family: var(--font-replica-light);
  font-size: 20px;
  margin: 20px 0;
  width: 300px;
}

.linksGrid {
  display: flex;
  flex-direction: column;
  margin: 40px 20px;
}

.simpleLinkGrid {
  color: #00F9B8;
  line-height: normal;
  font-size: 15px;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
}

.borderLinkGrid {
  font-weight: bold;
  line-height: 20px;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #00F9B8;
  border: 3px solid #00F9B8;
  padding: 10px;
}

/*********************/
/*  Privacy Section  */
/*********************/

.modulePrivacy {
  align-self: stretch;
  flex: 0 1;
  flex-direction: column;
}

.gridPrivacy {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin: 10px;
}

.titlePrivacy {
  font-family: var(--font-replica-light);
  font-weight: 100;
  line-height: normal;
  font-size: 30px;
  text-align: center;
  color: #333333;
  margin: 20px 0 0;
  line-height: normal;
}

.subtitlePrivacy {
  font-family: var(--font-replica-light);
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #828282;
  max-width: 80%;
}

.linkPrivacy {
  font-weight: bold;
  line-height: 20px;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #00F9B8;
  margin: 40px 0;
}

/*********************/
/* Data Plan Section */
/*********************/

.moduleDataPlan {
  align-self: stretch;
  flex: 0 1;
  flex-direction: column;
  background-color: #F3F3F3;
  padding: 10px;
}

.gridDataPlan {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.gridTextDataPlan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

.titleDataPlan {
  font-family: var(--font-replica-light);
  font-weight: 100;
  line-height: normal;
  font-size: 30px;
  text-align: center;
  color: #4F4F4F;
  margin: 0;
}

.subtitleDataPlan {
  font-family: var(--font-replica-light);
  font-weight: 100;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #828282;
  margin: 20px 0;
}

.imageDataPlan {
  max-width: 70%;
  margin-top: 40px;
}

/*****************************/
/* Product Ecosystem Section */
/*****************************/

.moduleProductEcosystem {
  align-self: stretch;
  flex: 0 1;
  background: linear-gradient(180deg, #0E0E0E 0%, #252525 100%);
  flex-direction: column;
  padding: 10px;
}

.gridProductEcosystem {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.gridTopProductEcosystem {
  background-color: #7400CF;
  display: flex;
  flex-direction: column;
}

.imageProductEcosystem {
  width: 100%;
}

.gridTextProductEcosystem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 80%;
  margin-top: 20px;
}

.titleProductEcosystem {
  font-family: var(--font-replica-light);
  font-weight: 100;
  line-height: 30px;
  font-size: 30px;
  text-align: center;
  color: #F2F2F2;
  margin: 0;
}

.subtitleProductEcosystem {
  font-family: var(--font-replica-light);
  font-weight: 100;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #F2F2F2;
  margin: 20px 0;
}

/*******************/
/* Hotspot Section */
/*******************/

.moduleHotspot {
  align-self: stretch;
  flex: 0 1;
  flex-direction: column;
}

.gridHotspot {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 10px;
  justify-content: flex-start;
  align-self: stretch;
  background-image: linear-gradient(to right, #FFF 0%, #FFF 50%, #8F00FF 50%, #8F00FF 100%);
}

.rowHotspot {
  display: flex;
  flex-direction: row;
  align-self: stretch;
}

.leftTitleHotspot {
  flex: 1;
}

.rightTitleHotspot {
  flex: 1;
  line-height: 15px;
  font-size: 15px;
  color: #FFFFFF;
  margin-left: 20px;
}

.imageHotspot {
  width: 100%;
}

.gridTextHotspot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 50px auto;
  max-width: 80%;
}

.titleHotspot {
  font-family: var(--font-replica-light);
  font-weight: 100;
  line-height: 30px;
  font-size: 30px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.subtitleHotspot {
  font-family: var(--font-replica-light);
  font-weight: 100;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #828282;
  margin: 20px 0;
}

/*******************/
/* Router Section */
/******************/

.moduleRouter {
  align-self: stretch;
  flex: 0 1;
  flex-direction: column;
}

.gridRouter {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  justify-content: flex-start;
  align-self: stretch;
  background-image: linear-gradient(to right, #8F00FF 0%, #8F00FF 50%, #FFF 50%, #FFF 100%);
}

.rowRouter {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  margin-top: 10px;
}

.leftTitleRouter {
  flex: 1;
  line-height: 15px;
  font-size: 15px;
  color: #FFFFFF;
  margin-left: 20px;
}

.rightTitleRouter {
  flex: 1;
}

.imageRouter {
  width: 100%;
}

.gridTextRouter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 50px auto;
  max-width: 80%;
}

.titleRouter {
  font-family: var(--font-replica-light);
  font-weight: 100;
  line-height: 30px;
  font-size: 30px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.subtitleRouter {
  font-family: var(--font-replica-light);
  font-weight: 100;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #828282;
  margin: 20px 0;
}

/*****************/
/* Phone Section */
/*****************/

.modulePhone {
  align-self: stretch;
  flex: 0 1;
  flex-direction: column;
}

.gridPhone {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 10px;
  justify-content: flex-start;
  align-self: stretch;
  background-image: linear-gradient(to right, #FFF 0%, #FFF 50%, #8F00FF 50%, #8F00FF 100%);
}

.rowPhone {
  display: flex;
  flex-direction: row;
  align-self: stretch;
}

.leftTitlePhone {
  flex: 1;
}

.rightTitlePhone {
  flex: 1;
  line-height: 15px;
  font-size: 15px;
  color: #FFFFFF;
  margin-left: 20px;
}

.imagePhone {
  width: 100%;
}

.gridTextPhone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 50px auto;
  max-width: 80%;
}

.titlePhone {
  font-family: var(--font-replica-light);
  font-weight: 100;
  line-height: 30px;
  font-size: 30px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.subtitlePhone {
  font-family: var(--font-replica-light);
  font-weight: 100;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #828282;
  margin: 20px 0;
}

/********************/
/* Outreach Section */
/********************/

.moduleOutreach {
  align-self: stretch;
  flex: 0 1;
  flex-direction: column;
  background-color: var(--black);
  padding: 10px;
}

.gridOutreach {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin: 50px 30px;
}

.gridTopOutreach {
  align-self: stretch;
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.gridTextOutreach {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleOutreach {
  font-family: var(--font-replica-light);
  font-weight: 100;
  line-height: 28px;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

.subtitleOutreach {
  font-family: var(--font-replica-light);
  font-weight: 100;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #FFFFFF;
  margin: 20px 0 50px;
}

.gridBottomOutreach {
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rowOutreach {
  display: flex;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;
}

.itemOutreach {
  display: flex;
  flex: 1;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.headerOutreach {
  font-family: var(--font-replica-light);
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.textOutreach {
  font-family: var(--font-replica-light);
  line-height: 24px;
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

/******************/
/* Footer Section */
/******************/

.moduleFooter {
  align-self: stretch;
  flex: 0 1;
  flex-direction: column;
  background-color: #F2F2F2;
  padding: 10px;
}

.gridFooter {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  margin: 20px 20px 100px;
}

.logoFooter {
  height: 30px;
  margin-bottom: 30px;
}

.linkFooter {
  margin-top: 10px;
  line-height: 22px;
  font-size: 15px;
  color: #000000;
}
