@import '../../variables.css';

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  height: 120px;
  z-index: 9000;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.logo {
  display: flex;
  height: 60px;
  width: 60px;
  background-color: var(--purple);
  align-items: center;
  justify-content: center;
}

.loading {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

.right {
  display: flex;
  flex: 1;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.simpleLink {
  color: var(--green);
  font-family: var(--font-replica-light);
  opacity: 0.8;
  transition: all 1s ease;
  margin-right: 10px;
}

.simpleLink:hover {
  cursor: pointer;
  opacity: 1;
}

.button {
  color: var(--green);
  border: 2px solid var(--green);
  margin: 10px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: var(--font-replica);
  transition: color 1s ease, background-color 1s ease;
}

.button:hover {
  cursor: pointer;
  background-color: var(--green);
  color: var(--black);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
