@import '../../variables.css';

.container {
  width: 100vw;
  margin: 0;
}

.message {
  width: 50vw;
  margin-top: -60px;
  margin-bottom: 40px;
  margin-left: 25vw;
  height: 40px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  color: var(--red);
}

.success {
  color: var(--green);
}

.module {
  position: relative;
  width: 100vw;
}

.moduleBackground {
  width: 100vw;
}

.moduleContainer {
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.visionTitle {
  margin-top: 60px;
  width: 200px;
  font-size: 4em;
  line-height: 1em;
  margin-left: 30px;
}

.visionSubtitle {
  margin-top: 40px;
  width: 200px;
  font-size: 1.2em;
  margin-left: 30px;
}

.visionSubtitleText {
  font-family: 'Roboto';
  width: 260px;
  margin-top: 20px;
  margin-left: 30px;
}

.whitepaper {
  background-color: var(--black);
  height: 30px;
  width: 160px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
}

.whitepaperArrow {
  height: 20px;
  margin-left: 5px;
}

.whitepaperText {
  font-family: 'Roboto';
  color: var(--white);
  margin-left: 10px;
}

.moduleHeader {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.moduleArrowBox {
  background-color: var(--black);
  height: 140px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.moduleArrow {
  height: 20px;
  margin-bottom: 5px;
}

.moduleTitle {
  font-size: 3em;
  line-height: 1em;
  margin-left: 20px;
}

.moduleTitleBig {
  margin-bottom: -20px;
  font-size: 3em;
  line-height: 1em;
  margin-left: 20px;
}

.moduleTitleRealBig {
  margin-bottom: -40px;
  font-size: 3em;
  line-height: 1em;
  margin-left: 20px;
}

.problemTitle {
  font-size: 1.8em;
  line-height: 1.2em;
  margin-left: 20px;
}

.problemTitleBold {
  font-size: 1.4em;
  font-weight: bold;
  margin-right: 10px;
}

.countdownTitleText {
  margin-top: 20px;
  margin-left: 30px;
  width: 260px;
  font-size: 2em;
  line-height: 1em;
  color: var(--white);
}

.moduleSubtitle {
  margin-left: 30px;
  margin-top: 20px;
  width: 300px;
  font-family: 'Roboto';
}

.moduleContent {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 300px;
  align-self: center;
  font-family: 'Roboto';
}

.moduleSpectrum {
  margin-top: 20px;
  width: 300px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  margin-bottom: 20px;
}

.SIM {
  margin-top: 20px;
  margin-left: 25vw;
  width: 50vw;
}

.alphaEmailBox {
  margin-top: 40px;
  margin-left: 15vw;
  margin-bottom: 80px;
}

.blueBox {
  width: 70vw;
  height: 80px;
  background-color: var(--blue);
}

.blackBox {
  margin-top: -90px;
  margin-left: -10px;
  width: 70vw;
  height: 80px;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.whiteBox {
  margin-top: -90px;
  margin-left: -10px;
  width: 70vw;
  height: 80px;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.emailInput {
  border: none;
  border-bottom: 1px solid var(--white);
  background-color: var(--black);
  width: 75%;
  height: 50%;
  color: var(--white);
  font-family: 'Roboto';
  font-size: 1em;
  padding-bottom: 1px;
}

.emailInputLight {
  border: none;
  border-bottom: 1px solid var(--black);
  background-color: var(--white);
  width: 75%;
  height: 50%;
  color: var(--black);
  font-family: 'Roboto';
  font-size: 1em;
  padding-bottom: 1px;
}

.emailInput:focus{
  outline: none;
  padding-bottom: 0;
  border-bottom: 2px solid var(--white);
}

.emailInputLight:focus{
  outline: none;
  padding-bottom: 0;
  border-bottom: 2px solid var(--black);
}

.alphaInputArrow {
  height: 20px;
  margin-left: 10px;
}

.tokenBurst {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10vw;
  width: 80vW;
}

.tokenComboSmall {
  width: 100px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.tokenComboText {
  font-family: 'Roboto';
  width: 300px;
  margin-bottom: 40px;
  margin-left: 30px;
}

.deviceIcons {
  width: 200px;
  margin-top: 40px;
  margin-left: 30px;
}

.networkStack {
  width: 260px;
  margin-top: 40px;
  margin-left: 30px;
}

.stackText {
  margin-top: 40px;
  font-size: 1.8em;
  line-height: 1em;
  margin-left: 30px;
}

.milestonesRow {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.milestone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.milestoneTitle {
  font-size: 2em;
  color: var(--white);
}

.milestoneText {
  font-family: 'Roboto';
  text-align: center;
  font-size: 0.8em;
}

.mno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.mnoText {
  font-family: 'Roboto';
  text-align: center;
  font-weight: bold;
  opacity: 0.5;
}

.mno80Title {
  font-size: 3em;
  color: var(--black);
  opacity: 0.5;
}

.mno20Title {
  font-size: 3em;
  color: var(--white);
  opacity: 0.5;
}


.ethAllocationTitleText {
  margin-left: 30px;
  font-size: 2em;
  line-height: 1em;
  margin-top: 40px;
}

.eth {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 40vw;
  margin-bottom: 20px;
  margin-left: 5vw;
}

.ethTitle {
  font-size: 2em;
  color: var(--white);
}

.ethText {
  font-family: 'Roboto';
}

.countdown {
  margin-left: 30px;
}

.teamModule {
  padding-bottom: 200px;
  background-color: var(--blue-green);
}

.teamText {
  margin-top: 40px;
  width: 80vw;
  margin-left: 30px;
  font-family: 'Roboto';
  margin-bottom: 40px;
}

.teamRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  flex: 1;
}

.teamColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.teamPicture {
  width: 140px;
  margin-bottom: 20px;
}

.teamPictureTitle {
  color: var(--white);
  font-size: 1em;
  line-height: 1em;
}

.teamPictureText {
  margin-top: 10px;
  font-family: 'Roboto';
  width: 140px;
  font-size: 0.8em;
}

.teamPictureLinks {
  margin-top: 10px;
  margin-bottom: 10px;
}

.teamLink {
  height: 20px;
  margin-right: 20px;
  opacity: 0.8;
}


.contactTitleText {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 3em;
  line-height: 1em;
}

.contacts {
  margin-left: 30px;
  margin-top: 20px;
  line-height: 1.5em;
  text-align: left;
}

.footer {
  position: absolute;
  left: 30px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.lmnop {
  margin-top: 80px;
  width: 200px;
  margin-bottom: 20px;
}

.catch {
  text-align: center;
  font-size: 1em;
  margin-bottom: 6px;
}

.tag {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.address {
  text-align: center;
  font-size: 0.8em;
}










